# These are some examples of commonly ignored file patterns.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/
*.code-workspace
.vscode/
package-lock.json

# Cypress
cypress/results/*
cypress/screenshots/
cypress/downloads/*
cypress/videos
mochawesome-report/*
output.json
*.log
*.txt
.DS_Store